@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    min-height: 100vh;
    font-size: 1.5rem;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    background-color: #BFBCCB;
    background-image: linear-gradient(#BFBCCB,#e7c6ff,#BBE5ED);
display: flex;
flex-direction: column;
  }
  img{
    display: block;
  }
.logo 
    {
   float: left;
max-width: 100px;
max-height: 100px;
    }
    a{
      text-decoration: none;
    
    }
.flo{
  padding: 1.5rem;
  float: right;
  
}
.button a{
  background-color: #505050;

}
.button a:hover,a:focus{
  background-color: #060505;
  color: aliceblue;
}
.n{
  padding: 1.5rem;
 
}
header{width: 100%;
  /* position: absolute;
  top: 0; */
   min-height: 200px;
background-color: #986C6A;

}
nav{
 
  padding: 1rem 1.5rem ;
  /* display: flex;
  justify-content: space-between; */


  background-color: #B399A2;


}
 nav ul{
  
  list-style-type: none;
  background-color: #B399A2;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
nav a{ 
  float: left;
  color: white;
  text-decoration: none;
 padding: 1rem 4rem 1rem 4rem;
  display: block; 
  text-align: center;
}
nav a:hover{
  background-color: hsl(0, 0%, 10%);
} 
/* .navbu {

  
} */

main{
  flex-grow: 1;
/* background-image: url('../PHOTOS/pexels-welov-10964248.jpg');
background-size: cover; */
}
.location{
  color: rgb(0, 0, 0);
}

footer{
  width: 100%; 
bottom: 0;
  background-color: gray ;
  flex-grow: 1;
 

}
.redirect{
  float:right;
}
.redirect a{
  text-decoration:none;
  padding: auto 5px;
  overflow: hidden;
  color: rgba(77, 80, 80, 0.523);
/* background-color: rgba(10, 10, 9, 0.527); */

}
.redirect a:hover,a:focus {
  /* background-color: rgb(0, 0, 0); */
  color: rgb(230, 239, 65);
}
.social a{
color: #f9f9f9;
}
.social a:hover,a:focus{
  color:#a90b4a ;
}
#map {
  width: 100%;
  height: 100%;
display: block;
padding: 7rem;}

/* .slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 700px; 
}

.slides {
  display: flex;
  transition: transform 1s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
}

@keyframes fade {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fade 10s infinite;
}

.slide:nth-child(1) {
  animation-delay: 0s;
}

.slide:nth-child(2) {
  animation-delay: 3.33s;
}

.slide:nth-child(3) {
  animation-delay: 6.66s;
}
.slide:nth-child(4) {
  animation-delay: 9.99s;
}
.slide:nth-child(5) {
  animation-delay: 13.32s;
} */